body {
  background: linear-gradient(90deg, #262931 85%, #ff683a 85%);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* bottom: 0;
height: calc(100vh - 50px); */

::-webkit-scrollbar {
  height: 0px;
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #282c34;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.wrap {
  backdrop-filter: blur(2vh);
  background-color: rgba(0, 0, 0, 0.3);
  width: 85vw;
  height: 85vh;
  border-radius: 3vh;
}

.navbar-config {
  background-color: transparent;
  margin-right: 15px;
  height: 50px;
  left: 50px;
}

.logo-nav {
  height: 40px;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(100%);
}

.page-title {
  margin-left: 33px;
  margin-top: 5px;
  color: #b6b6b6;
}

.sidebar {
  width: 50px;
  top: 0px;
  left: 0;
}

.icons-side {
  color: rgb(168, 168, 168);
}

.icons-side:hover {
  transform: scale(1.2);
  color:white;
}

.search-form {
  backdrop-filter: blur(2vh);
  background-color: rgba(112, 112, 112, 0.3);
  border-radius: 20vh;
  width: 15vw;
  height: 4vh;
  font-weight: 400;
  border: 1px solid rgb(119, 119, 119);
  color: white;
}

.dropdown-menu {
  backdrop-filter: blur(2vh);
  background-color: rgba(61, 61, 61, 0.3);
  border-radius: 30px;
  font-weight: 400;
  color: white;
  border: 1px solid rgb(119, 119, 119);
}

.hr-top {
  border: 1px solid rgb(51, 51, 51);
  margin-top: 50px;
}

.hr {
  border: 1px solid rgb(51, 51, 51);
}

footer {
  margin-top: 40px;
  bottom: 0;
  height: 65px;
  width: 100%;
  color: #000000;
  background: rgba(148, 187, 233, 1);
  text-align: center;
  vertical-align: middle;
}

.footer-icons {
  margin-inline: 5px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  font-size: larger;
}
